.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hiddenElement {
    display: none;
    text-align: center;
    font-size: 25px;
}

.showElement, .hideElement {
    cursor: pointer;
    background-color: #00A2E3;
    color: #FFF;
    border: none;
    margin: 0 4px;
}