body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.container {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"] {
    margin: 10px 30px;
    padding: 5px;
}

input[type="button"] {
    margin: 10px 30px;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    color: #000;
    border-radius: 10px;
    border: none;
}

input[type="button"]:hover {
    color: #000;;
    background-color: #a1c4fd;
}

.container p {
    text-align: center;
}