.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > button {
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #FFF;
    background-color: #9D4EDD;
}

.moveText {
    margin-right: 20px;
}

