body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inputNumber {
    padding: 6px;
}

.checkButton {
    position: relative;
    top: 10px;
    padding: 5px;
    width: 40%;
    cursor: pointer;
    background-color: #00A0DC;
    color: #FFF;
    border: none;
    border-radius: 3px;
}