.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > form > input {
    background-color: #00A2E3;
    color: #FFF;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.6;
    padding: 16px 32px;
}

.container > form > input:hover {
    opacity: 1;
}