.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > p {
    text-align: center;
}

.changeTextbtn {
    background-color: #9D4EDD;
    color: #FFF;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


