.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > form > input {
    background-color: #FFBB00;
    /* color: #FFF; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 16px 14px;
    font-size: 15px;
    opacity: 0.6;
}

.container > form > input:hover {
    opacity: 1;
}